* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin: 0 auto;
    width: 60vw;
    text-align: center;
    background-color: rgb(68, 154, 223);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 20px 0 0 0;
}

.signIn {
    padding: 20px 0 0 0;
}