* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
    background-color: rgb(68, 154, 223);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 20px 0 0 0;
}

h2 {
    padding: 0 0 10px 0;
}

.signInForm {
    display: flex;
    width: 30vw;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.loginInput, .loginButton {
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
}